# venv and pycharm
Lib/
Scripts/
.idea/
pyvenv.cfg
__pycache__/

# Input and output files
input_files/
output_files/

# Internal project files
src/projects/_*.yaml
src/resources/mapfiles/_*.yaml
src/resources/collectionevents.xml